.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.w-screen {
    width: 100vw;
}
.h-screen {
    height: 100vh;
}
.w-half {
    width: 50%;
}
.h-half {
    height: 50%;
}
.gap {
    gap: 1rem;
}
.gap-half {
    gap: 0.5rem;
}
.pointer {
    cursor: pointer;
}