// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap");

// ==================================== //
// Global Settings
// ==================================== //
$font-size-root: 16px;
$body-font-family: "Maven Pro", sans-serif !default;


// $utilities: (
//   margin: false,
//   margin-x: false,
//   margin-y: false,
//   margin-top: false,
//   margin-bottom: false,
//   margin-left: false,
//   margin-right: false,
//   margin-start: false,
//   margin-end: false,
//   negative-margin: false,
//   negative-margin-x: false,
//   negative-margin-y: false,
//   negative-margin-top: false,
//   negative-margin-bottom: false,
//   negative-margin-left: false,
//   negative-margin-right: false,
//   negative-margin-start: false,
//   negative-margin-end: false,

//   padding: false,
//   padding-x: false,
//   padding-y: false,
//   padding-top: false,
//   padding-bottom: false,
//   padding-left: false,
//   padding-right: false,
//   padding-start: false,
//   padding-end: false,
//   negative-padding: false,
//   negative-padding-x: false,
//   negative-padding-y: false,
//   negative-padding-top: false,
//   negative-padding-bottom: false,
//   negative-padding-left: false,
//   negative-padding-right: false,
//   negative-padding-start: false,
//   negative-padding-end: false,


//   overflow: false,
//   overflow-x: false,
//   overflow-y: false,
//   display: false,
//   float: false,

//   // Flex utilities
//   flex: false,
//   flex-direction: false,
//   flex-grow: false,
//   flex-shrink: false,
//   flex-wrap: false,
//   justify-content: false,
//   align-items: false,
//   align-content: false,
//   align-self: false,
//   order: false,

//   // Border
//   rounded:false,
//   rounded-top: false,
//   rounded-right: false,
//   rounded-bottom: false,
//   rounded-left: false,
//   rounded-top-left: false,
//   rounded-top-right: false,
//   rounded-bottom-right: false,
//   rounded-bottom-left: false,
// );

$color-pack: false;

@import '~vuetify/src/styles/styles.sass';

@each $name, $value in $utilities {
  $utilities: map-merge($utilities, ($name: false));
}